.overlay:after{
        content: '';
        display: block;
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background: rgba(0, 0, 0, 0);
        background-image: radial-gradient(black 33%, transparent 33%);
        background-size: 3px 3px;
}
